# Servidor
PORT=3000
HOST=localhost

# Banco de dados
DATABASE_URL_EMAIL=postgresql://user:password@localhost:5432/email_service

# UserService
USER_SERVICE_URL_DEV=http://localhost:8089
USER_SERVICE_URL_PROD=

# Envio de e-mail
MAIL_SERVER_ENDPOINT=
API_MAIL_KEY=

# Testes / mock
MOCK_USER=false
MOCK_EMAIL=false
