name: emailService SECURITY_SMOKE

on:
  workflow_dispatch:

jobs:
  security-smoke:
    uses: ./.github/workflows/email-service-base.yml
    secrets:
      EMAIL_SECURITY_TEST: ${{ secrets.EMAIL_SECURITY_TEST }}
    with:
      node_env: production
      script_start_service: npm run start
      user_service_url: http://localhost:8089
      folder: security-smoke
      environment_json_file: production-like.environment.json
