name: emailService SECURITY_SMOKE

on:
  workflow_dispatch:

jobs:
  security-smoke:
    uses: ./.github/workflows/email-service-base.yml
    with:
      node_env: production
      user_service_url: http://localhost:8089
      folder: security-smoke
      environment_json_file: production-like.environment.json
